#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 999;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

body {
    margin: 0;
    font-size: 1.5rem;
    background-color: #000;
    color: #dee2e6;
    line-height: 1.5;
}

html { 
overflow: scroll;
overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.custom-file-label {
background-color: #0000;
}

.custom-file-label::after {
    background-color: #000000;
    color: #ffffff;
}

.custom-file-label {
    color: #ffffff;
}

